@model IEnumerable<CreateEmployee>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Employee Details</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Employe</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Description</th>

                
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.Name</td>
                        <td>@emp.Phone</td>
                        <td>@emp.Salary</td>
                        <td>@emp.Description</td>

                        
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No data available.</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
